
CREATE DATABASE [QUANLYNHATROHUYTHINH]
USE [QUANLYNHATROHUYTHINH]

CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [nvarchar](50) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
	[SOCU] [int] NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [real] NOT NULL,primary key(MAHOADON,TENDICHVU)
)


CREATE TABLE [dbo].[CHITIETPHONG](
	[MAPHONG] [nvarchar](60) NOT NULL,
	[MAKHACH] [nvarchar](60) NOT NULL,
	[TENKHACH] [nvarchar](60) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](60) NOT NULL,
	[SODIENTHOAI] [nvarchar](11) NOT NULL,
	[DIACHITHUONGTRU] [nvarchar](60) NOT NULL,
	[SOCMND] [nvarchar](60) NOT NULL, PRIMARY KEY (MAPHONG,MAKHACH)
)

CREATE TABLE [dbo].[DICHVU](
	[TENDICHVU] [nvarchar](50) NOT NULL PRIMARY KEY ,
	[DONVITINH] [nvarchar](50) NULL,
	[DONGIA] [float] NOT NULL
)

CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nvarchar](50) NOT NULL PRIMARY KEY,
	[MAKHACH] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[MAPHONG] [nvarchar](50) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TONGTIEN] [float] NOT NULL
) 


CREATE TABLE [dbo].[KHACHTRO](
	[MAKHACH] [nvarchar](50) NOT NULL PRIMARY KEY,
	[TENKHACH] [nvarchar](50) NOT NULL,
	[MAPHONG] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[SODIENTHOAI] [nvarchar](11) NOT NULL,
	[DIACHITHUONGTRU] [nvarchar](50) NOT NULL,
	[SOCMND] [nvarchar](50) NOT NULL
) 


CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nvarchar](50) NOT NULL PRIMARY KEY,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](60) NOT NULL
) 


CREATE TABLE [dbo].[PHONGTRO](
	[MAPHONG] [nvarchar](50) NOT NULL PRIMARY KEY,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[TIENPHONG] [float] NOT NULL,
	[SONGUOIO] [int] NOT NULL
) 


CREATE TABLE [dbo].[TAIKHOAN](
	[MANHANVIEN] [nvarchar](50) NOT NULL ,
	[TENTAIKHOAN] [nvarchar](60) NOT NULL ,
	[MATKHAU] [nvarchar](60) NOT NULL, PRIMARY KEY(MANHANVIEN,TENTAIKHOAN)
) 

INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [TENDICHVU], [SOCU], [SOLUONG], [THANHTIEN]) VALUES (N'HD1116201610', N'Điện ', 33, 3, 27000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [TENDICHVU], [SOCU], [SOLUONG], [THANHTIEN]) VALUES (N'HD1116201610', N'Nước', 34, 3, 36000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [TENDICHVU], [SOCU], [SOLUONG], [THANHTIEN]) VALUES (N'HD1116201611', N'Điện', 30, 10, 90000)
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MAKHACH], [TENKHACH], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'101', N'K001A', N'LEE MIN HO', CAST(0x061B0B00 AS Date), N'Nam', N'0979523212', N'Lâm Đồng', N'250876256')
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MAKHACH], [TENKHACH], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'102', N'K002A', N'NGUYỄN THÀNH CÔNG', CAST(0x061B0B00 AS Date), N'Nam', N'0979521231', N'Bình Định', N'250203212')
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MAKHACH], [TENKHACH], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'106', N'K004A', N'TRẦN KHÁNH ĐĂNG', CAST(0x901E0B00 AS Date), N'Nam', N'0939232123', N'Gia Lai', N'250233123')
INSERT [dbo].[DICHVU] ([TENDICHVU], [DONVITINH], [DONGIA]) VALUES (N'Internet', N'Máy', 90000)
INSERT [dbo].[DICHVU] ([TENDICHVU], [DONVITINH], [DONGIA]) VALUES (N'Rác', N'Phòng', 10000)
INSERT [dbo].[DICHVU] ([TENDICHVU], [DONVITINH], [DONGIA]) VALUES (N'Xe', N'Chiếc', 100000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACH], [MANHANVIEN], [MAPHONG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD2812201616', N'51103027', N'nv001', N'202', CAST(0x453C0B00 AS Date), 4250000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACH], [MANHANVIEN], [MAPHONG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD111620164', N'K004', N'NV001', N'106', CAST(0xB33C0B00 AS Date), 2555000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACH], [MANHANVIEN], [MAPHONG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD111620165', N'K005', N'NV001', N'107', CAST(0x1E3C0B00 AS Date), 4042000)
INSERT [dbo].[KHACHTRO] ([MAKHACH], [TENKHACH], [MAPHONG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'51103027', N'bùi đông hải', N'202', CAST(0xE51C0B00 AS Date), N'Nam', N'0979525962', N'lâm đồng', N'250876254')
INSERT [dbo].[KHACHTRO] ([MAKHACH], [TENKHACH], [MAPHONG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'K004', N'Bùi Văn Ba', N'106', CAST(0x071B0B00 AS Date), N'Nam', N'0962321264', N'Long An', N'2523123576')
INSERT [dbo].[KHACHTRO] ([MAKHACH], [TENKHACH], [MAPHONG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [DIACHITHUONGTRU], [SOCMND]) VALUES (N'K005', N'K LIỄU', N'107', CAST(0x521C0B00 AS Date), N'Nữ', N'0979525621', N'Đồng Nai', N'2323123245')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SODIENTHOAI], [CHUCVU]) VALUES (N'nv001', N'buidonghai', N'1096 huynh tan phat', N'0979525962', N'admin')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SODIENTHOAI], [CHUCVU]) VALUES (N'nv002', N'huythinh', N'500 nguyen thi thap', N'0932123462', N'nhanvien')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SODIENTHOAI], [CHUCVU]) VALUES (N'nv003', N'tranhuynam', N'100 levanluong', N'0932123212', N'nhanvien')
INSERT [dbo].[PHONGTRO] ([MAPHONG], [TRANGTHAI], [TIENPHONG], [SONGUOIO]) VALUES (N'104', N'Đang Ở', 5000000, 5)
INSERT [dbo].[PHONGTRO] ([MAPHONG], [TRANGTHAI], [TIENPHONG], [SONGUOIO]) VALUES (N'105', N'Trống', 3000000, 3)
INSERT [dbo].[PHONGTRO] ([MAPHONG], [TRANGTHAI], [TIENPHONG], [SONGUOIO]) VALUES (N'106', N'Đang Ở', 3000000, 4)
INSERT [dbo].[TAIKHOAN] ([MANHANVIEN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'nv001', N'donghai', N'donghai')
INSERT [dbo].[TAIKHOAN] ([MANHANVIEN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'nv002', N'huythinh', N'huythinh')
INSERT [dbo].[TAIKHOAN] ([MANHANVIEN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'nv003', N'nv3', N'admin')

